@charset "UTF-8";
/* 位移 */
/* 大小 */
/* 旋转 */
/* 斜切 */
/* 三角形 Trangle */
/* 5个参数：宽度，颜色（上、右、下、左） */
/* 文本折行 Wrap */
/* 如英文或数字过长的换行显示 */
.wrap {
  text-wrap: wrap;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}
/* 透明度 Opacity */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* 镜像效果Reflect */
/* CSS3 中的镜像效果只支持webkit浏览器 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: 'Microsoft Yahei', Arial, Helvetica !important;
}
body {
  margin: auto;
  font-size: 14px;
  font-family: 'Microsoft Yahei', Arial, Helvetica !important;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
input,
button,
select,
textarea,
a,
li {
  outline: none;
}
input:focus {
  outline: none;
}
input:required:invalid {
  box-shadow: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}
img {
  border: none;
}
img:hover {
  border: none;
}
.clear:after {
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}
.clear {
  zoom: 1;
}
.trans {
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
.none {
  display: none;
}
.lt,
.left {
  float: left;
}
.rt,
.right {
  float: right;
}
[class*="btn"] {
  cursor: pointer;
}
a {
  color: inherit;
}
.overHidden {
  overflow: hidden;
}
.showMobile {
  display: none;
}
.showPc {
  display: inline;
}
@media screen and (max-width: 767px) {
  .showMobile {
    display: inline;
  }
  .showPc {
    display: none;
  }
}
/*// IE8及以下背景图片兼容*/
.bg_IE8 {
  background-repeat: no-repeat;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/banner.png', sizingMethod='scale');
}
.fixedFoot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 90%;
  width: 1150px;
  margin: auto;
  height: inherit;
}
.bigContainer {
  max-width: 90%;
  width: 1660px;
  margin: auto;
  height: inherit;
}
.row:after {
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}
.row {
  zoom: 1;
}
.float .col-xs-1,
.float .col-sm-1,
.float .col-md-1,
.float .col-lg-1,
.float .col-xs-2,
.float .col-sm-2,
.float .col-md-2,
.float .col-lg-2,
.float .col-xs-3,
.float .col-sm-3,
.float .col-md-3,
.float .col-lg-3,
.float .col-xs-4,
.float .col-sm-4,
.float .col-md-4,
.float .col-lg-4,
.float .col-xs-5,
.float .col-sm-5,
.float .col-md-5,
.float .col-lg-5,
.float .col-xs-6,
.float .col-sm-6,
.float .col-md-6,
.float .col-lg-6,
.float .col-xs-7,
.float .col-sm-7,
.float .col-md-7,
.float .col-lg-7,
.float .col-xs-8,
.float .col-sm-8,
.float .col-md-8,
.float .col-lg-8,
.float .col-xs-9,
.float .col-sm-9,
.float .col-md-9,
.float .col-lg-9,
.float .col-xs-10,
.float .col-sm-10,
.float .col-md-10,
.float .col-lg-10,
.float .col-xs-11,
.float .col-sm-11,
.float .col-md-11,
.float .col-lg-11,
.float .col-xs-12,
.float .col-sm-12,
.float .col-md-12,
.float .col-lg-12 {
  position: relative;
  min-height: 1px;
  float: left;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.overHidden {
  overflow: hidden;
}
body {
  font-size: 14px;
}
